.get-in-touch-label {
  font-size: clamp(2rem, 5vw, 4rem);
}

.border-green:hover {
  color: var(--green);
  outline: none;
  box-shadow: 3px 3px 0 0 var(--green);
  transform: translate(-0.1rem, -0.1rem);
}

.built-by-label:hover {
  color: var(--green);

  svg {
    fill: var(--green);
  }
}

svg {
  fill: var(--grey-2);
}

svg:hover {
  color: var(--green);
  fill: var(--green);
}
