<section
  class="section-margin h-100 d-flex align-items-center justify-content-center flex-column mt-5 pt-5 mt-lg-0 mx-lg-5 pt-lg-3 px-lg-5"
  id="Experience"
>
  <div
    class="d-flex align-self-start tabs-header mb-4 mt-5 mt-lg-0 pt-5 pt-lg-0"
  >
    <span class="text-green me-2">02.</span
    ><span class="text-grey fw-bold font-family-calibre">
      Where I’ve Worked</span
    >
  </div>
  <mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="start"
    class="tab-group text-grey-2"
  >
    <mat-tab label="Aieze">
      <div
        class="text-grey fs-5 font-family-calibre ls-04 d-flex align-items-center flex-wrap"
      >
        Frontend Developer
        <div
          class="text-green company-name ms-2 cursor-pointer"
          (click)="openCompanyWebsites('Aieze')"
        >
          @<span>AIEZE</span>
        </div>
      </div>
      <div class="text-grey-2 font-family-mono fs-09 mt-1 mb-2">
        November 2022 - Present
      </div>
      <div
        class="d-flex align-items-start font-family-calibre py-2 fs-6 lh-base"
        *ngFor="let item of aiezeCompanyRole"
      >
        <i class="fa-solid fa-play me-3 fs-05 mt-2" style="color: #64ffda"></i>
        <span class="">
          {{ item?.para }}
        </span>
      </div>
    </mat-tab>
    <mat-tab label="Salt Tech Solutions"
      ><div
        class="text-grey fs-5 font-family-calibre ls-04 d-flex align-items-center flex-wrap"
      >
        Lead Frontend Developer
        <div
          class="text-green company-name ms-lg-2 mt-sm-2 mt-lg-0 cursor-pointer"
          (click)="openCompanyWebsites('salttech_solution')"
        >
          @<span>Salt Tech Solutions</span>
        </div>
      </div>
      <div class="text-grey-2 font-family-mono fs-09 mt-1 mb-2">
        May 2021 - November 2022
      </div>
      <div
        class="d-flex align-items-start font-family-calibre py-2 fs-6 lh-base"
        *ngFor="let item of salttechCompanyRole"
      >
        <i class="fa-solid fa-play me-3 fs-05 mt-2" style="color: #64ffda"></i>
        <span class="">
          {{ item?.para }}
        </span>
      </div></mat-tab
    >
    <mat-tab label="Sterling Arcus"
      ><div
        class="text-grey fs-5 font-family-calibre ls-04 d-flex align-items-center flex-wrap"
      >
        Wordpress Developer
        <div
          class="text-green company-name ms-lg-2 mt-sm-2 mt-lg-0 cursor-pointer"
          (click)="openCompanyWebsites('Sterling_Arcus')"
        >
          @<span>Sterling Arcus</span>
        </div>
      </div>
      <div class="text-grey-2 font-family-mono fs-09 mt-1 mb-2">
        July 2020 - January 2021
      </div>
      <div
        class="d-flex align-items-start font-family-calibre py-2 fs-6 lh-base"
        *ngFor="let item of sterlingArcusCompanyRole"
      >
        <i class="fa-solid fa-play me-3 fs-05 mt-2" style="color: #64ffda"></i>
        <span class="">
          {{ item?.para }}
        </span>
      </div></mat-tab
    >
  </mat-tab-group>
</section>
