<section
  class="section-margin h-100 name-header d-flex align-items-center justify-content-center flex-column align-self-start"
>
  <div>
    <div
      class="text-green ls-04 fs-6"
      data-aos="fade-up"
      data-aos-duration="2000"
    >
      Hi, my name is
    </div>
    <br />
    <div
      class="text-grey name-font-size ls-04 fw-bold lh-1"
      data-aos="fade-up"
      data-aos-duration="2300"
    >
      {{ myName }}
    </div>
    <br />
    <div
      class="text-grey-2 name-font-size ls-04 fw-bold lh-1"
      data-aos="fade-up"
      data-aos-duration="2500"
    >
      {{ whatIDo }}
    </div>
    <div
      class="text-grey-2 lh-base mt-4 fs-6"
      data-aos="fade-up"
      data-aos-duration="2700"
    >
      {{ descriptionLabel }}
    </div>
  </div>
</section>
